params {
    executor = "local"
    
    outdir = "mpx_assembly"
    fastq = "fastq/*_{R1_001,R2_001}.fastq.gz"
    
    reference = "mpx_slo_2022.fasta"
    host_index = "chm13v2_sr.mmi"

    reference_assembly = false
    denovo_assembly = false
    consensus_assembly = false

    mpileup_max_depth = 60000

    ivar_consensus_min_base_quality = 20
    ivar_consensus_min_frequency = 0.75
    ivar_consensus_min_depth = 1
    ivar_consensus_fill_char = "N"

    spades_opts = "--isolate"

    extract_min_qaln_len = 50
    extract_min_mapq = 0
    host_deplete_min_qaln_len = 50
    host_deplete_min_mapq = 0

    // Conda handlers

    mamba = false
    micromamba = false

    // Resource configs

    fastp_cpus = 1
    fastp_mem = "16GB"
    fastp_time = "4h"
    fastp_conda = "$baseDir/envs/fastp.yml"

    minimap2_cpus = 8
    minimap2_mem = "16GB"
    minimap2_time = "8h"
    minimap2_conda = "$baseDir/envs/minimap2.yml"

    spades_cpus = 8
    spades_mem = "32GB"
    spades_time = "8h"
    spades_conda = "$baseDir/envs/spades.yml"

    mgp_tools_cpus = 1
    mgp_tools_mem = "16GB"
    mgp_tools_time = "1h"
    mgp_tools_conda = "$HOME/conda/envs/mgp-tools"

    ivar_cpus = 1
    ivar_mem = "16GB"
    ivar_time = "2h"
    ivar_conda = "$baseDir/envs/ivar.yml"

    samtools_cpus = 4
    samtools_mem = "16GB"
    samtools_time = "2h"
    samtools_conda = "$baseDir/envs/samtools.yml"

}

profiles {
  conda {
      conda.useMamba = params.mamba
      conda.useMicromamba = params.micromamba
  }
}

process {
    
    executor = params.executor

    withLabel: fastp {
        cpus = params.fastp_cpus
        memory = params.fastp_mem
        time = params.fastp_time
        conda = params.fastp_conda
    }

    withLabel: minimap2 {
        cpus = params.minimap2_cpus
        memory = params.minimap2_mem
        time = params.minimap2_time
        conda = params.minimap2_conda
    }

    withLabel: spades {
        cpus = params.spades_cpus
        memory = params.spades_mem
        time = params.spades_time
        conda = params.spades_conda
        errorStrategy = "ignore"
    }

    withLabel: mgp_tools {
        cpus = params.mgp_tools_cpus
        memory = params.mgp_tools_mem
        time = params.mgp_tools_time
        conda = params.mgp_tools_conda
    }

    withLabel: ivar {
        cpus = params.ivar_cpus
        memory = params.ivar_mem
        time = params.ivar_time
        conda = params.ivar_conda
    }
    withLabel: samtools {
        cpus = params.samtools_cpus
        memory = params.samtools_mem
        time = params.samtools_time
        conda = params.samtools_conda
    }

}
