params {
    executor = "local"
    
    fastq = "fastq/*_{R1_001,R2_001}.fastq.gz"

    outdir = "mpx_consensus_v2"
    reference = "$baseDir/refs/mpx_us_22.fasta"

    host_depletion = false
    host_index = "chm13v2_sr.mmi"

    samtools_mpileup_max_depth = 10000

    ivar_consensus_min_qual = 20
    ivar_consensus_min_freq = 0.75
    ivar_consensus_min_freq_high = 0.75
    ivar_consensus_min_freq_low = 0.03
    ivar_consensus_min_depth = 10
    ivar_consensus_fill_char = "N"

    // Conda handlers

    mamba = false
    micromamba = false

    // Resource configs

    fastp_cpus = 8
    fastp_mem = "32GB"
    fastp_time = "8h"
    fastp_conda = "$baseDir/envs/fastp.yml"

    minimap2_cpus = 8
    minimap2_mem = "16GB"
    minimap2_time = "8h"
    minimap2_conda = "$baseDir/envs/minimap2.yml"

    minimap2_host_cpus = 32
    minimap2_host_mem = "64GB"
    minimap2_host_time = "24h"
    minimap2_host_conda = "$baseDir/envs/minimap2.yml"
    
    ivar_cpus = 1
    ivar_mem = "32GB"
    ivar_time = "12h"
    ivar_conda = "$baseDir/envs/ivar.yml"

    coverage_cpus = 4
    coverage_mem = "32GB"
    coverage_time = "2h"
    coverage_conda = "$baseDir/envs/coverage.yml"

}

profiles {
  conda {
      conda.useMamba = params.mamba
      conda.useMicromamba = params.micromamba
  }
}

process {
    
    executor = params.executor

    withLabel: fastp {
        cpus = params.fastp_cpus
        memory = params.fastp_mem
        time = params.fastp_time
        conda = params.fastp_conda
    }

    withLabel: minimap2 {
        cpus = params.minimap2_cpus
        memory = params.minimap2_mem
        time = params.minimap2_time
        conda = params.minimap2_conda
    }

    withLabel: minimap2_host {
        cpus = params.minimap2_host_cpus
        memory = params.minimap2_host_mem
        time = params.minimap2_host_time
        conda = params.minimap2_host_conda
    }

    withLabel: ivar {
        cpus = params.ivar_cpus
        memory = params.ivar_mem
        time = params.ivar_time
        conda = params.ivar_conda
    }
    withLabel: coverage {
        cpus = params.coverage_cpus
        memory = params.coverage_mem
        time = params.coverage_time
        conda = params.coverage_conda
    }

}
